# For use with the JMSGateway class. Configure JMSGateway as a gateway type
# called "JMS". The JMSGateway class creates a subscriber to the topic
# specified below. The gateway consumes messages that are either:
#       TextMessage
#       BytesMessage containing raw UTF text
# The gateway then passes the text of the message to the configured CFC as
# follows:
#       event
#               data
#                       id - the message correlation ID (see below)
#                       msg - the text of the message
#               gatewayType - the type of the gateway ("JMS")
#               originatorID - the topic name from which the message was consumed
#                              (other event fields per normal gateway operation)
#
#       Currently, the result from the CFC can either be just a status field:
#
#       result
#               status - "OK" or "EXCEPTION"
#               The gateway effectively ignores the result status.
#               or it can be a request to send a message:
#       result
#               status - SEND
#               topic - topic name on which to publish the message
#               message - text of the message to publish
#               id - optional correlation ID for the message
#               asBytes - optional indicates whether to publish as TextMessage
#                       or byte-encoded UTF-8 BytesMessage - yes|no|true|false
#                       default is no (i.e., use TextMessage)
#
#       This configuration file provides the following parameters:
#
#       outboundOnly - yes|no|true|false - indicates whether to subscribe to a topic
#               default is no (i.e., gateway will subscribe to a topic)
#       debug - yes|no|true|false - enable detailed logging
#               default is no
#       if outboundOnly is yes/true then the following are all ignored:
#               durable - yes|no|true|false - indicates whether the subscriber should be durable
#                       (see below for more details) - default is no
#               subscriberName - a name that is unique across all subscribers for a
#                       given topic (really only used when durable=yes)
#               topicName - the fully-qualified C-name of the topic on the message hub
#                       to which this gateway should subscribe
#               providerURL - the URL (http://server:port) of the JMS provider (see your
#                       JMS server documentation for more details)
#               initialContextFactory - class name used to construct the "initial
#                       context" for the JMS connection - examples shown below for JRun and
#                       Fiorano MQ
#               topicConnectionFactory - class name or C-name used by the JMS library to
#                       locate the factory object for topic connections - examples shown below
#                       for JRun and Fiorano MQ
#

outboundOnly=no
debug=no
durable=yes
subscriberName=examplegateway
topicName=jms/topic/exampletopic
providerURL=localhost:2908
initialContextFactory=jrun.naming.JRunContextFactory
topicConnectionFactory=jms/jndi-TopicConnectionFactory

